In [ ]:
"""
relationbal datset 
for data analysis
pandas will provide flexubility
tabular structured data 
data drame - 2d data structue/greater data visualization

"""

In [ ]:
import pandas as pd
student = pd.DataFrame({})

In [8]:
l1= [1,2,3,4]
import numpy as np
arr = np.array(l1)
np.pad(arr,(1,1),"maximum")

array([4, 1, 2, 3, 4, 4])

In [ ]:
"""
pandas is creaated for tabular dat a
we have multiple column
hommogeneoud or hetrogeneous data
any other form of observational / statical data
the data need not to lebelles
two primary data structure
series 1 dimensional data 
data frame = 2 dimensional
"""

In [16]:
import pandas as pd 
l =({'student_name':['a','b','c','d'],'marks':[20,30,40,50]})
ser = pd.Series(l)
print("ser=",ser )
data_frame = pd.DataFrame(l)
print(data_frame)

ser= student_name        [a, b, c, d]
marks           [20, 30, 40, 50]
dtype: object
  student_name  marks
0            a     20
1            b     30
2            c     40
3            d     50

In [17]:
dic ={
    'california':3000000,
    "new_york":4000000,
    'kathmandu':3000000,
    'pokhara':4000000

}

In [18]:
type(dic)

dict

In [21]:
population = pd.Series(dic)
population

california    3000000
new_york      4000000
kathmandu     3000000
pokhara       4000000
dtype: int64

In [25]:
population[ 2]
#to find the value from key

C:\Users\niraj\AppData\Local\Temp\ipykernel_300\1060304497.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  population[ 2]

np.int64(3000000)

In [30]:
pd.Series([5,2],index=[100,200])

100    5
200    2
dtype: int64

In [36]:
#DataFrame
population_dict = {
    'califonia ':1111111,
    "texas":2222222,
    'new york':3333333,
    'florida':78230000
}

df = pd.DataFrame(population_dict,index =("population",'state'))
df

            califonia     texas  new york   florida
population     1111111  2222222   3333333  78230000
state          1111111  2222222   3333333  78230000

In [37]:
df.shape

(2, 4)

In [38]:
d1 ={"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
"Age": [23, 30, 27, 35, 29],
"City": ["Kathmandu", "Pokhara", "Lalitpur", "Biratnagar", "Butwal"],
"Score": [85, 90, 78, 92, 88],
"Passed": [True, True, False, True, True]}
d2=pd.DataFrame(d1,index=('name' , 'age' ,'location' ,'score','passed'))
d2

             Name  Age        City  Score  Passed
name        Alice   23   Kathmandu     85    True
age           Bob   30     Pokhara     90    True
location  Charlie   27    Lalitpur     78   False
score       David   35  Biratnagar     92    True
passed        Eva   29      Butwal     88    True

In [40]:
d2.describe()

            Age      Score
count   5.00000   5.000000
mean   28.80000  86.600000
std     4.38178   5.458938
min    23.00000  78.000000
25%    27.00000  85.000000
50%    29.00000  88.000000
75%    30.00000  90.000000
max    35.00000  92.000000

In [43]:
d2.describe(include ='object')

         Name       City
count       5          5
unique      5          5
top     Alice  Kathmandu
freq        1          1

In [ ]:
""" panel data used in statics
pandas
python library
set table 
we can organize the data
purpose -mainly used in data nalysis and data manipulation
what is data structure 
serie sato deal with single vcolumn of data
dataframe - is an excael sheet which use rows and column
why to use pandas?
handle large data easily 
to perform operation like filtering sorting merging the data to reaf the data to conver the messry data inclean and unstructureda data
example imagine you have list of classmate you will get marks grades 
sales data which include 
when we talk about data -from where soucr o fdata .csv = comma seperated values
web scrapping -you can capture the data 
amazzon ka page , vivo s
web scrapping - data gathering 
dataset - when we have multiple rows and in the form of sheets 
data module -collectiuon of multiple dataset,surveys -you can make google form 
"""

In [ ]:
import pandas as pd
student = pd.DataFrame({
    'rollno':[101,102,103,104 ,105,106],
    'name ':['A','B','C','D','E','F'],
    'class':['bct','bct','bct','bct','bct','bct'],
    'marks':[78,79,72,74,75,77],
    'gender':["f",'m','f','f','m','m']
})
student.to_csv('student.csv',index = False)
student
#dont sav index colu

SyntaxError: invalid syntax (1509650650.py, line 6)

In [ ]:
#reading the csv file 
student = pd.read_csv('student.csv')
print(student.head())
 #konsa jo apka file tyoe paranthesis ke andart value hai
 """ sales = pd.read_excel("sales.xlxs)
 print(sales) 
 """

   rollno name  class  marks gender
0     101     A   bct     78      f
1     102     B   bct     79      m
2     103     C   bct     72      f
3     104     D   bct     74      f
4     105     E   bct     75      m
5     106     F   bct     77      m

In [ ]:
#cleaning and transforming 
print(student.isna().sum())#to check the missing value isna() method is used and .sum() addd garera value haru d

rollno    0
name      0
class     0
marks     0
gender    0
dtype: int64

In [14]:
student['marks']=student['marks'].fillna(student['marks'].mean())
print(student.isna().sum())

rollno    0
name      0
class     0
marks     0
gender    0
dtype: int64

In [15]:
#filter the data
print(student[student['marks']>=76])

   rollno name  class  marks gender
0     101     A   bct     78      f
1     102     B   bct     79      m
5     106     F   bct     77      m

In [17]:
print(student[student['marks']>=78])

   rollno name  class  marks gender
0     101     A   bct     78      f
1     102     B   bct     79      m

In [ ]:
print(student[student['marks']>=78 and student['name']=='A'])

KeyError: 'name'

In [ ]:
#grouping 
print(student.groupby('gender')['marks'].mean())
#so here we group students accorf=ding to gender by using group by function and we has marks as mean

gender
f    74.666667
m    52.000000
Name: marks, dtype: float64

In [24]:
#calculatin adding calculate columns 
#WER CAN ADAD COLUMNS
student['modified_marks'] = student['marks']-10
print(student)

   rollno name  class  marks gender  modified_marks
0     101     A   bct     78      f              68
1     102     B   bct     79      m              69
2     103     C   bct     72      f              62
3     104     D   bct     74      f              64
4     105     E   bct      0      m             -10
5     106     F   bct     77      m              67

In [25]:
#if you want to make any project 
student.to_csv('student_clean.csv',index=False)